@model eRenting.Models.ViewModels.CreateFuncionario

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col-sm mb-2 mb-sm-0">
            <h1 class="page-header-title">Adicionar Funcionário</h1>
        </div>
        <div class="col-sm-auto">
            <a class="btn btn-primary" href="@Url.Action("index", "funcionarios")">
                <i class="tio-user-add mr-1">Voltar</i>
            </a>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.Funcionario.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Funcionario.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Funcionario.Nome, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Funcionario.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Funcionario.Contacto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Funcionario.Contacto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Funcionario.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Funcionario.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Funcionario.Email, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Funcionario.Empresa_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Funcionario.Empresa_id, new SelectList(Model.ListEmpresa,"Empresa_id", "Nome"),"Selecione uma empresa", new { @class = "form-control", data_required = "true" })
                @Html.ValidationMessageFor(model => model.Funcionario.Empresa_id, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
